# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here


NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/your_ig_profile
NEXT_PUBLIC_TWITCH_URL= https://twitch.tv/your_twitch_profile
NEXT_PUBLIC_YOUTUBE_URL=https://youtube.com/your_yt_profile
# Optional: Service Role Key (Only used in server environments if needed for administrative scripts)
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

