# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here


# Redes sociales (Opcionales - Valores por defecto en src/lib/constants.ts)
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/__psg_8
NEXT_PUBLIC_TWITCH_URL=https://twitch.tv/team_psg_
NEXT_PUBLIC_YOUTUBE_URL=https://youtube.com/@PSG_FC8
# Optional: Service Role Key (Only used in server environments if needed for administrative scripts)
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

